.photo-grid-container {
  display: flex;
  justify-content: center;
}

.photo-grid {
  width: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.photo-grid-item img {
  width: 500px;
  height: auto;
  padding: 25px;
  border-radius: 20px;
  border: 2px solid #5D6063;
  border-radius: 5px;
  margin: 10px;
}

.photo-grid-item p {
  text-align: center;
  font-family: "Veranda", sans-serif;
  color: #414141
  padding: 15px;

}


.horizontal-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #EBF7FC;
  margin-bottom: 25px;
}

li {
  float: left;
}

li a {
  display: block;
  color: #609FBA;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: "Veranda", sans-serif;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #FCFEFF;
}

#experience-bullet {
  float: none
}


h1 {
  margin-top: 25px;
  text-align: left;
  display: block;
  font-family: "Veranda", sans-serif;
  color: #414141;
  padding: 15px;
  width: 200px;
}

p a:link {
  text-decoration: none;
  color: grey;
}
p a:visited {
  text-decoration: none;
  color: #609FBA;
}

p {
  font-family: "Veranda", "Arial", sans-serif;
  padding-left: 15px;
}
p:last-of-type {
  margin-bottom: 50px;
}

h2, h3{
  font-family: "Veranda", "Arial", sans-serif;
}
